body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

table {
    border-collapse: collapse;
}

table tr td {
    padding: 80px;
    background-color: aquamarine;
}

table tr td:hover {
    padding: 80px;
    background-color: rgb(12, 167, 115);
    cursor: pointer;
}

#startContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: bisque;
    display: flex; /*Standart = flex*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#player1Name{
    background-color: rgb(0, 255, 213);
    padding: 20px;
}
#player2Name{
    background-color: gray;
    padding: 20px;
}

#nameColum {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#startButton{
    color: white;
    background-color: green;
    padding: 20px;
    transition: 125ms;
}

#startButton:hover{
    color: white;
    background-color: rgb(1, 197, 1);
    padding: 20px;
    cursor: pointer;
    transition: 125ms;
}

#gameArea {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nameInput1 {
    margin-bottom: 50px;

}

.inputStyle {
    border: none;
    outline: none;
    padding: 25px;
}

.borderTopNone {
    border: solid black 2px;
    border-top: none;
}

.borderBottomNone {
    border: solid black 2px;
    border-bottom: none;
}

.borderLeftNone {
    border: solid black 2px;
    border-left: none;
}

.borderRightNone {
    border: solid black 2px;
    border-right: none;
}

.picClass {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#playerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    min-height: 100px;
}


#gameOverScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#winnerName {
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
}

#restartButton {
    color: white;
    background-color: green;
    padding: 20px;
    transition: 125ms;
}

#restartButton:hover {
    color: white;
    background-color: rgb(1, 197, 1);
    padding: 20px;
    cursor: pointer;
    transition: 125ms;
}

#playerWinnerName {
    margin-left: 5px;
}